{
    "Physics": {
        "WorldBounds": {
            "Max": {
                "x": 1000.0,
                "y": 1000.0
            },
            "Min": {
                "x": -1000.0,
                "y": -1000.0
            },
            "Response": "EventAndDestroy",
            "bEnabled": true
        }
    },
    "Render": {
        "Backend": "OpenGL"
    },
    "Window": {
        "Height": 720,
        "Mode": "Windowed",
        "Title": "TestWorld",
        "Width": 1280
    }
}