# Build files
/build/
out/
bin/
obj/
*.log

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
x64

# Visual Studio files
*.sln
*.vcxproj*
*.user
*.filters
*.vs
*.idea

# OS-specific
.DS_Store
Thumbs.db

#Binaries
Binaries

#Intermediate
Intermediate

#Save in all apps
*/Save/*
