{
    "TextColor": {
        "w": 1.0,
        "x": 1.0,
        "y": 1.0,
        "z": 1.0
    },
    "TextDisabledColor": {
        "w": 1.0,
        "x": 0.6000000238418579,
        "y": 0.6000000238418579,
        "z": 0.6000000238418579
    },
    "UIFontFallbacks": [
        "/Engine/Fonts/Roboto/roboto-latin-ext-400-normal.ttf",
        "/Engine/Fonts/Roboto/roboto-greek-400-normal.ttf",
        "/Engine/Fonts/Roboto/roboto-cyrillic-400-normal.ttf",
        "/Engine/Fonts/Roboto/roboto-vietnamese-400-normal.ttf"
    ],
    "UIFontPath": "/Engine/Fonts/Roboto/roboto-latin-400-normal.ttf",
    "UIFontSizePx": 16.0,
    "WindowBackground": {
        "w": 0.8500000238418579,
        "x": 0.0,
        "y": 0.0,
        "z": 0.0
    },
    "WindowPadding": {
        "x": 5.5,
        "y": 5.5
    }
}