{
    "Assets": {
        "EngineManifest": "Engine/Assets/AssetManifest.json",
        "EngineRoot": "Engine/Assets"
    },
    "Log": {
        "Level": "trace"
    },
    "Physics": {
        "Backend": "Box2D",
        "WorldBounds": {
            "Enabled": false,
            "Max": {
                "x": 100000.0,
                "y": 100000.0
            },
            "Min": {
                "x": -100000.0,
                "y": -100000.0
            },
            "Response": "EventAndDestroy"
        }
    },
    "Render": {
        "Backend": "OpenGL",
        "Interpolation": true
    },
    "Window": {
        "Height": 720,
        "Mode": "Windowed",
        "Title": "Sandbox",
        "Width": 1280
    }
}